.venv
venv
__pycache__

# general: eclipse, idea, system files, ...
.project

.pydevproject
.settings/
wip
*~
*.orig
*.iml
*.ipr
*.iws
.idea
*.retry
.DS_Store
*.bak
.idea/
deps.sh
.env

# semantic release content manage by workflow deploy
.releaserc.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth-internal/
/playwright/.auth-external/
